body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

video {
    width: 90%;
    height: auto;
    background-color: black;
}

body {
    text-align: center;
    padding-top: 20px;
}